.datadiv{
    height: 500px;
    width: 60%;
    background-color: rgb(168, 155, 155);
}

.page2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(252, 252, 207);
    border: 2px solid grey;
}

.nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navL{
    background: black;
    color: white;
    padding: 10px;
}